CompileFlags:
  CompilationDatabase: .
  Add:
    - -I/home/nasr/c/agent-c
    - -I/home/nasr/c/agent-c/grpc/generated
    - -Wno-modernize-use-nullptr
    - -Wno-missing-includes

Index:
  Background: Build
  StandardLibrary: Yes

Completion:
  AllScopes: Yes

