CompileFlags:
  CompilationDatabase: .

  Add:
    - --gcc-toolchain=/usr
    - -std=c++17
    - -I/home/nasr/agent-c
    - -I/home/nasr/agent-c/grpc/generated
    - -Wall
    - -Wextra
    - -Wno-unused-function
    - -g
    - -O0

  Remove:
    - -l*
    - -pthread
    - -march=*
    - -mtune=*
    - -fPIC
    - -O*

Diagnostics:
  Suppress:
    - pp_file_not_found
    - unknown-warning-option
    - unused-command-line-argument
    - macro-redefined

Index:
  Background: Build
