name: C CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang libproc2-dev 

      - name: Make build script executable
        run: chmod +x source/build.sh

      - name: Build
        run: ./source/build.sh
